<!-- <p>container works!</p> -->
<div>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- el *ngIf="datas?.length" puesto en el div es para que si encuentre algo, que nos mande como resultado lo que tenga que ver en parte a esas interaciones, 
        como el entityNamesAll y todos los recorridos que ya tenemos. Todo lo que tenga que ver con la aplicación 
        (en consola web se ven los fallos corregidos, ya no aparecen) -->
    <div class="container-fluid r-aside" *ngIf="datas?.length">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <!-- <h3 class="text-themecolor">navegacion1</h3> -->
                <!-- pagePath es cómo llamamos a nuestras páginas, su ruta.
                Cuando esté en Productos se verá encima del número de existencias de productos, la página Productos 
                Traemos el pipe llamado formatName -->
                <h3 class="text-themecolor">{{ pagePath | formatName }}</h3>
            </div>
        </div>
        <h2>{{ datas?.length }}: En existencia</h2>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- <form (submit)="handleSubmit($event)"> -->
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <!-- <input class="form-control" id="demo-input-search2" type="text" placeholder="Buscar por nombre" autocomplete="off"> -->
                                    <input class="form-control" id="demo-input-search2" type="text"
                                        placeholder="Buscar por nombre" name="filtrarTabla" [(ngModel)]="filtrarTabla"
                                        autocomplete="off">
                                </div>
                            </div>
                            <!-- </form> -->

                        </div>
                        <div class="row m-t-20">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary m-r-10">+ Agregar</button>
                                <button class="nav-item dropdown mega-dropdown btn btn-secondary col-md-1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filtros
                                </button>
                                <div class="dropdown-menu">

                                    <ul class="list-style-none">
                                        <!-- el "let first = first" es para que me coja el primer campo: nombre. -->
                                        <li *ngFor="let entityName of entityNamesAll; let first = first">
                                            <div class="controls">
                                                <label class="custom-control custom-checkbox m-l-10">
                                                    <!-- Dentro del input:
                                                        - El [checked] es para que me reconozca el "first" 
                                                        o si me encontró un recorrido en entityNames que me incluya todo lo que encontró en este recorrido 
                                                        - El [disabled]="first" es para que no nos deje desmarcar o desseleccionar el primer campo (no se podría quitar "Nombre")
                                                        - (change)="" es para que me detecte un cambio. LLamo a la función setEntityNames en el container.component.ts
                                                    -->
                                                    <input type="checkbox" 
                                                    class="custom-control-input"
                                                    
                                                    [checked]="first || entityNames.includes(entityName)"
                                                    [disabled]="first"
                                                    (change)="setEntityNames($event, entityName)"

                                                    name="">
                                                    <span class="custom-control-indicator"></span> 
                                                    <!-- Así era como estaba: 
                                                    <span class="custom-control-description">modelos</span> -->
                                                    <span class="custom-control-description"> {{ entityName | formatName }} </span>
                                                    <!-- Con entityName ya nos coje todos los camposen Filtros | El formatName es para que nos lo traduzca y ponga el camelCase -->
                                                </label>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">

                            <table class="table table-striped m-t-20">
                                <thead>
                                    <tr>
                                        <th class="form-group">
                                            <input type="checkbox" id="basic_checkbox_1" name="" />
                                            <label for="basic_checkbox_1">N°</label>
                                        </th>

                                        <!-- <th>campos</th> (lo que antes ponía "campos") Ahora en la siguiente línea recorremos y mostramos los nombres de los campos -->
                                        <th *ngFor="let item of entityNames">{{ item | formatName }}</th>
                                        <!-- <th class="text-nowrap">Action</th> -->
                                        <th class="text-nowrap">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Aquí vamos a hacer un bucle for que nos muestre nuestros datos de la BD 
                                    Después hecho un index que nos muestre el recorrido del bucle for -->
                                    <!-- El => paginate: { itemsPerPage: 10, currentPage: p } está extraído de https://github.com/michaelbromley/ngx-pagination 
                                    <tr *ngFor="let data of datas | filtrarNombre:filtrarTabla | paginate: { itemsPerPage: 10, currentPage: p } ; let index = index"> -->
                                    <tr *ngFor="let data of datas | filtrarNombre:filtrarTabla | paginate: { itemsPerPage: noOfRows, currentPage: page } ; let index = index">
                                        <td class="col-md-1">
                                            <div class="demo-checkbox">
                                                <!-- <input type="checkbox" id="uno" name="" />
                                                <label for="uno">1</label> -->
                                                <input type="checkbox" id="{{index}}" name="" />
                                                <!-- +1 para que el recorrido no nos de 0 -->
                                                <label for="{{index}}">{{index + 1}}</label>
                                            </div>
                                        </td>

                                        <td *ngFor="let nombre of entityNames">
                                            <!-- Así solo muestra "data" <div>data</div> -->
                                            <!-- Así nos muestra "[object Object]" <div> {{ data }} </div> -->
                                            <!-- Con <div>{{ data.nombre }}</div> ya nos muestra el nombre de los Productos, Categorías y Usuarios -->

                                            <!-- <div>{{ getValue(data, nombre) | formatValueImage:nombre }}</div> -->
                                            <!-- Puesto mejor dentro de un innerHTML que ya usa Angular, no hacen falta los {{}} -->
                                            <div [innerHTML]="getValue(data, nombre) | formatValueImage:nombre"></div>
                                        </td>
                                        <!--  Así como estaba en el tutorial (que no coge la id) -->
                                        <td class="text-nowrap">
                                            <a data-toggle="tooltip" data-original-title="View"
                                            (click)="entityItem(data.uid, 'Ver')">
                                            <!-- Este evento click nos muestra la navegación de si estamos en Productos,
                                                (Categorias o Usuarios) + id + Ver(o Ediar/Cerrar) en la url se ve 
                                        Con (click)="entityItem(data.nombre, 'Ver')" se traga el id como nombre (en consola al hacer clik se ve), por la función entityItem (ver en el container.components.ts la función; ya que pasa id y action) 
                                        Con (click)="entityItem(data._id, 'Ver')" (COMO LO TIENE EN EL TUTORIAL) debería coger el id como id, pero a mi me aparece como indefinido (undefined) 
                                        Con (click)="entityItem(data.uid, 'Ver')" se traga el id como uid (en consola al hacer clik se ve), [GESTIONAMOS uid como id] pero comprobar si en la función entityItem hace o afecta a algo
                                            -->
                                                <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                
                                            <a data-toggle="tooltip" data-original-title="Edit"
                                                (click)="entityItem(data.uid, 'Editar')">
                                                <i class="fa fa-pencil-square" aria-hidden="true"></i> Editar | </a> 
                                                <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> (Este es otro lapiz, si funciona)-->

                                            <a data-toggle="tooltip" data-original-title="Close"
                                            (click)="entityItem(data.uid, 'Cerrar')">
                                                <i class="fa fa-close text-danger"></i> </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="d-flex justify-content-end">
                                <!-- Extraído de https://github.com/michaelbromley/ngx-pagination -->
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                <pagination-controls (pageChange)="page = $event"></pagination-controls>

                                <!-- Extraído pagination-template de https://github.com/michaelbromley/ngx-pagination 
                                y posteriormente editado aquí-->
                                <pagination-template #p="paginationApi" (pageChange)="page=$event">

                                    <div class="form-group">
                                        <div class="item-par-page">
                                            Pagina
                                            <!-- 
                                            p.getCurrent() para el número de página actual
                                            p.getLastPage() para el número total de páginas
                                            datas?.length para mostrar el rango de índices de datos junto con la longitud total de los datos.
                                            -->
                                            {{ getStartIndex(p.getCurrent(), p.getLastPage()) }} 
                                            - {{ getLastIndex(p.getCurrent(), p.getLastPage()) }}
                                            de {{ datas?.length }} 

                                            <select name="noRows" id="noRows"
                                            (change)="page = 1" [(ngModel)]="noOfRows">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="75">75</option>
                                            <option value="100">100</option>
                                            </select>
                                        </div>

                                    </div>
                                </pagination-template>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

</div>


<!-- AGREGADOS LOS SCRIPTS PARA QUE COGAN LOS ESTILOS Y FORMAS EN LOS ICONOS, entre otros -->
<!-- Agrega jQuery (si aún no está incluido) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Agrega Font Awesome (si aún no está incluido) -->
<!-- Reemplaza 'versión' con la versión específica que estés utilizando -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Después de incluir jQuery y Font Awesome, agrega el script de inicialización de tooltips 
Este tooltips es para que se vean los iconos de Ver, Editar y Cerrar
En referencia a: <a data-toggle="tooltip" data-original-title="Ver"> 
-->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>