<!-- <p>data-admin works!</p> -->

<div>
    <!-- Estas clases del div copiadas igual que en el container.component.html -->
    <div class="container-fluid r-aside">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <!-- pageName remplazado por pagePath y | formatName para el camelCase -->
                <h3 class="text-themecolor">{{ pageName | formatName }}</h3>
            </div>
        </div>

        <!-- Comentado para no repetir el nombre de la página: 
    <p>{{ pageName }}</p> -->

        <div *ngIf="dataId">
            <ul *ngIf="action=='ver'">
                <li *ngFor="let nombre of entityNameAll">
                    <strong>{{nombre | formatName }} </strong>
                    <div [innerHTML]="getValue(nombre) | formatValueImage:nombre"></div>
                </li>
            </ul>

            <app-entity-form 
            *ngIf="action=='editar'" 
            [entityNames]="entityNameAll" 
            [dataId]="dataId" />
        </div>.
    </div>

</div>