<!-- <p>entity-form works!</p> -->
<form action action="">
    <div *ngFor="let nombre of entityNames">
        <label for="">
            {{ nombre | formatName }}
        </label>
        <input *ngIf="(nombre | formatTypeValue: dataId) === 'INPUT'"
        [name]="nombre"
        type="text" [value]="nombre | formatFormValue: dataId">
    
        <select *ngIf="(nombre | formatTypeValue: dataId) === 'SELECT'"
        [name]="nombre"
        id="">
            <option [value]="true">Si</option>
            <option [value]="false">No</option>
        </select>
    </div>
</form>
